@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


.container {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.edit {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  background: #181e30;


}

.edit .icon {
  visibility: hidden;
}

.edit:hover {
  background: #222B45;
}

.edit:hover .icon {
  visibility: visible;
}

.containerComponent {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.containerComponent .icon {
  visibility: hidden;
}

