
.edit {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;

}

.edit .icon {
    visibility: hidden;
}

.edit:hover {
    background: #222B45;
}

.edit:hover .icon {
    visibility: visible;
}

.containerComponent {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.containerComponent .icon {
    visibility: hidden;
}

.containerComponent:hover {
    background: #3c4c7b;
}

.containerComponent:hover .icon {
    visibility: visible;
}