@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}


/* Edit portfolio */
.dnd-droppable {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.dnd-draggable {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    /*background: #181e30;*/
}

.dnd-draggable .icon {
    display: none;
}

.dnd-draggable:hover {
    background: rgba(34, 43, 69, 0.9);
}

.dnd-draggable:hover .icon {
    display: block;
}

.dnd-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.dnd-container:hover {
    padding: 1em;
    background: #313e63;
}

.dnd-container .container-icon {
    display: none;
}

.dnd-container:hover .container-icon {
    display: block;
}


/* View portfolio */

.containerComponent {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.containerComponent .icon {
    visibility: hidden;
}

